.body {
  align-items: center;
  background-color: black;
  display: flex;
  height: 100vh;
  justify-content: center;
  width: 100%;
}

.login {
  align-items: center;
  background-color: #333333;
  border-radius: 10px;
  display: flex;
  flex-flow: column;
  height: 300px;
  justify-content: center;
  width: 400px;
}

.login h1 {
  border-bottom: 1px solid #ff5c33;
  color: #e6e6e6;
  font-size: 40px;
  margin: 15px 0 10px;
  padding-bottom: 15px;
  text-align: center;
  width: 100%;
}

.form {
  align-items: center;
  display: flex;
  flex-flow: column;
  justify-content: center;
  padding-bottom: 10px;
}

.form label {
  align-items: center;
  display: flex;
  flex-flow: column;
  font-weight: 700;
  justify-content: center;
  width: 200px;
}

.form input {
  border: none;
  border-radius: 10px;
  margin: 10px;
  outline: none;
  padding: 15px;
}

.form input::placeholder {
  color: #adadad;
  font-size: 16px;
  font-weight: 600;
}

.form button {
  border: 3px solid #ff5c33;
  border-radius: 10px;
  cursor: pointer;
  font-weight: 700;
  margin-bottom: 15px;
  outline: none;
  padding: 10px;
  text-transform: uppercase;
  transition: 0.3s;
  width: 125px;
}

.form button:disabled {
  border: #cccccc 3px solid;
  cursor: not-allowed;
  transition: 0.3s;
}

.form button:hover:enabled {
  background-color: #ff5c33;
  border: 3px solid #cccccc;
  color: #cccccc;
}

/* So falta mudar as cores */

/* https://www.youtube.com/watch?v=eeHqZeJ9Vqc&ab_channel=CodingNepal */
