.album-section {
  align-items: center;
  display: flex;
  flex-flow: column;
}

.album-section h1 {
  color: #e6e6e6;
  font-size: 50px;
  margin: 20px;
}

.album-section .album-name {
  border: 1px solid #e62e00;
  border-radius: 50px;
  color: #e62e00;
  margin-bottom: 30px;
  padding: 20px;
}
