.search {
  align-items: center;
  display: flex;
  flex-flow: column;
  flex-grow: 1;
  height: 100vh;
  width: 100%;
}

.search-section {
  align-items: center;
  background-color: #e6e6e6;
  border:#ff7700 1.5px solid;
  border-radius: 10px;
  display: flex;
  flex-flow: column;
  justify-content: center;
  width: 400px;
  margin-top: 30px;
}

.search-section h1 {
  color: #191919;
  font-weight: 700;
  margin: 30px 0;
}

.search-section form {
  align-items: center;
  display: flex;
  flex-flow: column;
  margin-bottom: 30px;
}

.search-section input {
  border: none;
  border-radius: 10px;
  outline: none;
  padding: 15px;
  width: 200px;
}

.search-section button {
  border: 3px solid #ff7700;
  border-radius: 10px;
  cursor: pointer;
  font-weight: 700;
  margin-top: 10px;
  outline: none;
  padding: 10px;
  text-transform: uppercase;
  transition: 0.3s;
  width: 125px;
}

.search-section button:disabled {
  border: 3px solid #cccccc;
  cursor: not-allowed;
  transition: 0.3s;
}

.search-section button:hover:enabled {
  background-color: #ff7700;
  border: 3px solid #cccccc;
  color: #cccccc;
}

.section-music {
  align-items: center;
  display: flex;
  flex-flow: column;
}

.section-music h2 {
  color: #e62e00;
  font-size: 40px;
  padding: 20px;
}

.section-albums {
  background-color: #191919;
  display: flex;
  flex-flow: row wrap;
  flex-grow: 1;
  justify-content: center;
  width: 1000px;
}

.div-album {
  background-color: #e6e6e6;
  border: #ff7700 3px solid;
  border-radius: 10px;
  height: 300px;
  margin: 5px;
  width: 300px;
}

.album {
  color: #191919;
  display: flex;
  flex-flow: column;
  height: 100px;
  justify-content: center;
  text-align: center;
}

.album h3 {
  font-weight: 700;
}

.album h4 {
  margin-top: 5px;
  text-transform: uppercase;
}


.foto {
  align-items: center;
  display: flex;
  height: 200px;
  justify-content: center;
}

.foto img {
  height: 150px;
  width: 150px;
}

/* https://www.w3schools.com/howto/howto_css_display_element_hover.asp */
