.header {
  width: 100%;
}

.header-section {
  background-color: black;
  display: flex;
  height: 80px;
  justify-content: space-around;
}

.header-section .logo-name {
  display: flex;
  height: 100%;
}

.hide {
  color:#e6e6e6;
  display: none;
}

.header-section .logo-name:hover .hide {
  align-items: center;
  color: white;
  display: flex;
  height: 100%;
  justify-content: center;
  width: 100px;
}

.header-section .logo-name h1 {
  align-items: center;
  color: #e6e6e6;
  display: flex;
  font-size: 25px;
  font-weight: 700;
  height: 100%;
  justify-content: center;
  margin: 0;
  text-transform: uppercase;
}

.section-links {
  float: right;
  height: 100%;
}

.link {
  display: table;
  float: left;
  height: 100%;
  outline: none;
  padding: 0 20px;
  text-decoration: none;
  transition: 0.3s;
}

.header-section .link:hover {
  background-color: #ff5c33;
  color: #333333;
}

.header-section .header-link {
  color: #e6e6e6;
  display: table-cell;
  font-size: 18px;
  height: 100%;
  transition: 0.3s;
  vertical-align: middle;

}

.header-section .link h2:hover {
  color: #1a1a1a;
}

/* paleta de cores ff3300 ffffff 000000 */

/* https://www.youtube.com/watch?v=GxwHXxumdQk&t=151s&ab_channel=MarcHinton */